{% extends 'base.html' %}

{% block title %}
    <title>СЕРЕГА ПИРАТ (SEREGA PIRAT)</title>
{% endblock %}


{% block body %}

<style>

  .box_shadow_{
    box-shadow: 0px 5px 10px 0px rgba(90, 71, 156, 0.5); 
    border-radius: 10%;
     padding: 10px 10px 10px 10px;

  }
  .text{
      padding: 50px 30px 60px 10px;
  }
    p {
    text-indent: 20px;
   }
</style>


<div class="container py-3">
    <div class="p-3 pb-md-4">
        <img class="box_shadow_" src="https://i.ytimg.com/vi/KatK045qxMk/maxresdefault.jpg" alt="" width="500" height="300" align="right">
        <div class="col">

            <div class="card mb-4 rounded-3 shadow-sm">

                <div class="card-header py-3">

                    <h4 class="my-0 fw-normal">О Сирате</h4>
                </div>
                <p class="fs-5 text-body-secondary text">

                    Сергей Маляр (родился в 1996 году в Санкт-Петербурге, Россия) — российский стример и музыкант, основном делает музыку в жанре рок. Популярность ему принесли некоторые сделанные им ролики на YouTube и несколько сильно зафорсившихся треков, такие как «фп ам», «тп на аме» и другие</p>

            </div>

            <div class="p-3 pb-md-4">
                <img class="box_shadow_" src="https://dota2.ru/img/news/slider/t1709382647.webp" alt="" width="500" height="300" align="left">
                <div class="col">

                    <div class="card mb-4 rounded-3 shadow-sm">

                        <div class="card-header py-3">

                            <h4 class="my-0 fw-normal">Подробнее о Сирате</h4>
                        </div>
                        <p class="fs-5 text-body-secondary text">


                            Помимо музыки Сергей занимается стримерством
                            на платформе "Twitch","Youtube","Kick".
                            Свою первую популярность Сергей получил за счет переозвучек отрывков
                            фильмов , а его самая популярная переозвучка это "Шоу Папича" на которой
                            он и получил свою популярность за счет фанатов Виталия Цаля
                            "Arthas/Папич" Самая популярная озвучка Серегея – "Шоу Папича" (2,6 млн
                            просмотров), а самый популярный трек – "тп на аме" (7,6 млн просмотров).
                            После школы Серега Пират обучался на специальности «управление морским
                            транспортом». Однако чуть позже, после защиты диплома, уехал в
                            Петербург, где еще активнее увлекся стримингом и музыкой. По полученной
                            специальности Сергей не работал.
                            Живет "Серега Пират" во Вьетнаме. Но Сергей успел побывать во многих
                            российских городах: Дальнереченск, Владивосток, Санкт-Петербург и
                            Рязань.</p>

                    </div>
                    <h1 class="display-4 fw-normal text-body-emphasis text-center"> Популярная музыка Сирата</h1>


                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

                        <div class="col">

                            <div class="card mb-4 rounded-3 shadow-sm">

                                <div class="card-header py-3">

                                    <h4 class="my-0 fw-normal">фп ам (fp am)</h4>
                                </div>
                                <div class="card-body">
                                    <img class="mb-2 box_shadow_" src="https://i1.sndcdn.com/artworks-Zn5yyR9NIl4YgjWZ-fjvT7A-t500x500.jpg" alt="" width="200" height="200">

                                    <a href="/7"><button type="button" class="w-100 btn btn-lg btn-outline-primary box_shadow_">Текс</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Почему ты ещё не фанат?</h4>
                                </div>
                                <div class="card-body">
                                    <img class="mb-2 box_shadow_" src="https://i1.sndcdn.com/artworks-pVeXe8HUV09PhfQY-zHqL1A-t500x500.jpg" alt="" width="200" height="200">

                                    <a href="/8"><button type="button" class="w-100 btn btn-lg btn-outline-primary box_shadow_">Текст</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-bg-primary border-primary">
                                    <h4 class="my-0 fw-normal">Мой байк</h4>
                                </div>
                                <div class="card-body">
                                    <img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/425x425/https%3A%2F%2Fimages.genius.com%2F47f16548135b79859690523c5b981099.1000x1000x1.jpg" alt="" width="200" height="200">


                                    <a href="/9"><button type="button" class="w-100 btn btn-lg btn-primary box_shadow_">Текст</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

                    <div class="col">

                        <div class="card mb-4 rounded-3 shadow-sm">

                            <div class="card-header py-3">

                                <h4 class="my-0 fw-normal">И я кричу остановите катку</h4>
                            </div>
                            <div class="card-body">
                                <img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/425x425/https%3A%2F%2Fimages.genius.com%2F88ce01894193c03f760d2c55e950f5bb.537x538x1.jpg" alt="" width="200" height="200">

                                <a href="/7"><button type="button" class="w-100 btn btn-lg btn-outline-primary box_shadow_">Текс</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Тп на аме</h4>
                            </div>
                            <div class="card-body">
                                <img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/425x425/https%3A%2F%2Fimages.genius.com%2F43f3de0cbe0e85cca4052abc7ab29790.1000x1000x1.jpg" alt="" width="200" height="200">

                                <a href="/8"><button type="button" class="w-100 btn btn-lg btn-outline-primary box_shadow_">Текст</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3 text-bg-primary border-primary">
                                <h4 class="my-0 fw-normal">Зомби апокалипсис</h4>
                            </div>
                            <div class="card-body">
                                <img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/425x425/https%3A%2F%2Fimages.genius.com%2Fb6e5584c7da45001e556aeb91a272a22.740x742x1.png" alt="" width="200" height="200">


                                <a href="/9"><button type="button" class="w-100 btn btn-lg btn-primary box_shadow_">Текст</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container fs-5 text-body-secondary">Для ознакомления с полным списком музыки можете перейти на  <a href="https://www.youtube.com/@serega_pirat999">канал</a></div>


</div>
{% endblock %}
