{% extends 'base_mus.html' %}

{% block title %}
    <title>СЕРЕГА ПИРАТ (SEREGA PIRAT)</title>
{% endblock %}


{% block name %}фп ам (fp am){% endblock %}
{% block image %}
<img class="mb-2 box_shadow_" src="https://i1.sndcdn.com/artworks-Zn5yyR9NIl4YgjWZ-fjvT7A-t500x500.jpg" alt="" width="200" height="200">

{% endblock %}

{% block description %}Текст песни «фп ам»]

[Припев]
О, как же хорошо, что моя тима не в курсе
Что я ***** радик на AM'а, как гений
Пока все думают, что я коплю battle fury
Я набиваю money, чтоб купить sacred relic, ведь я талант

[Куплет 1]
Я ****** антимага на фп, да, прям так!
И в quick buy'е battle fury, тыщи три на руках
Я играю на победку, вы не шарите, дно
Маякуйте на меня, но вы все в муте давно

[Предприпев]
На часах уже двадцать пять, они идут ломать бараки
Я затащу игру, терпите, тупые раки

[Припев]
О, как же хорошо, что моя тима не в курсе
Что я ***** радик на AM'а, как гений
Пока все думают, что я коплю battle fury
Я набиваю money, чтоб купить sacred relic

[Постприпев]
Ведь я талант, ведь я талант, я талант
Я талант (Фыр-фыр-фыр), ведь я талант
See upcoming rock shows
Get tickets for your favorite artists
You might also like
THE STORY OF ALISHER
Oxxxymiron
МИР ГОРИТ (WORLD IS BURNING)
Oxxxymiron
тп на аме (tp on am)
СЕРЕГА ПИРАТ (SEREGA PIRAT)
[Куплет 2]
Залетаю прям в замес и нажимаю counter spell
На меня летят скиллы, тогда я жму бкб
Я сожгу им всё ****, и чё вы там ******? Йоу
Сразу делаю блинкаут, оставляю иллюзию

[Предприпев]
На часах уже двадцать пять, они идут ломать бараки
Я затащу игру, терпите, тупые раки

[Припев]
О, как же хорошо, что моя тима не в курсе
Что я ***** радик на AM'а, как гений
Пока все думают, что я коплю battle fury
Я набиваю money, чтоб купить sacred relic

[Постприпев]
Ведь я талант, ведь я талант, я талант
Я талант (Фыр-фыр-фыр), ведь я талант{% endblock %}