{% extends 'base_mus.html' %}

{% block title %}
    <title>СЕРЕГА ПИРАТ (SEREGA PIRAT)</title>
{% endblock %}


{% block name %}Почему ты ещё не фанат? {% endblock %}
{% block image %}
<img class="mb-2 box_shadow_" src="https://i1.sndcdn.com/artworks-pVeXe8HUV09PhfQY-zHqL1A-t500x500.jpg" alt="" width="200" height="200">

{% endblock %}
{% block description %}Текст песни «фп ам»]

Текст песни «Почему ты ещё не фанат?»]

[Интро: Geliado]
Красная Lamborghini, прижмитесь пожалуйста к обочине
Всем постам! Я увидел водителя, это действительно Серёга Пират, он завернул направо и, чёрт, мы его потеряли. Похоже он снова нас переиграл, этот парень слишком крут для нас

[Куплет 1]
С федералами играем в прятки
Этот трек наркотик, добавляй в закладки
Ты меня богаче? Не, ну это вряд ли
Да, я будто Галкин, меня любят бабки
Да, меня бесит fame (Бум)
Снова поставил цель (Бум)
У меня миллион идей (Бум)
Люди хотят ещё
Вся моя жизнь freestyle
Снова наваливаю style
Я выделяюсь из стаи
Вижу ты восхищён

[Припев]
Ну почему ты ещё не фанат?
Неужели не видишь таланта?
Тебя ***** в уши Пират
Я же знаю, что тебе приятно
Почему ты ещё не фанат?
Неужели не видишь таланта?
Тебя ***** в уши Пират
Я же знаю, что тебе приятно
See upcoming rap shows
Get tickets for your favorite artists
You might also like
THE STORY OF ALISHER
Oxxxymiron
МИР ГОРИТ (WORLD IS BURNING)
Oxxxymiron
тп на аме (tp on am)
СЕРЕГА ПИРАТ (SEREGA PIRAT)
[Куплет 2]
Куча тёлок разрывают личку
Они так хотят встретить таланта лично
Я их всех игнорю, потому что слишком
Тяжело ходить, когда полно налички
Оу, shit, я придурок, я тот ещё *****
Но со мною все дружат, будто я ***** гуру (О, нет!)
Ты так мудр — Хикару Накамура
Но с тобою не дружат — ты тот ещё зануда (О, нет!)

[Припев]
Ну почему ты ещё не фанат?
Неужели не видишь таланта?
Тебя ***** в уши Пират
Я же знаю, что тебе приятно
Почему ты ещё не фанат?
Неужели не видишь таланта?
Тебя ***** в уши Пират
Я же знаю, что тебе приятно{% endblock %}