{% extends 'base_mus.html' %}

{% block title %}
    <title>СЕРЕГА ПИРАТ (SEREGA PIRAT)</title>
{% endblock %}


{% block name %}И я кричу, остановите катку{% endblock %}
{% block image %}
<img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/425x425/https%3A%2F%2Fimages.genius.com%2F88ce01894193c03f760d2c55e950f5bb.537x538x1.jpg" alt="" width="200" height="200">

{% endblock %}

{% block description %}[Текст песни «И я кричу, остановите катку»]

[Куплет 1]
Дотка как дотка
Несёт нас опять по новому кру-угу
В ranked matchmaking
Снова в лесок идёт фармить *****
Мы ведь тоже хотели, пофармить крипов
Но увы, мы только смотрели
Мы теряли бараки, когда ты нам сказал:
«Скоро выйду, терпите ***** раки»

[Припев]
И я кричу, остановите катку
Эту игру я уже *****
Эй, лесничёк, заканчивай фармить
А он смеётся в войс чат как *****

[Бридж]
Ещё одна слитая катка...

[Куплет 2]
Последние крипы
Ты уехал в ЛП, ну а я нажму снова «Поиск»
Лови мут на прощание
И вышли из лобби на фоне молчания
Так достали *****
Мы с тобою одной и той же породы, да
Но мы так не похожи, я надеюсь ты скоро сольёшься
И мы не встретимся больше-е, да-а
See upcoming rock shows
Get tickets for your favorite artists
You might also like
фп ам (fp am)
СЕРЕГА ПИРАТ (SEREGA PIRAT)
Селфхарм (Selfharm)
Монеточка (Monetochka)
ЧСВ (SELF-RESPECT)
Lida & СЕРЕГА ПИРАТ (SEREGA PIRAT)
[Припев]
И я кричу, остановите катку
Эту игру я уже въебал
Эй лесничёк, заканчивай фармить
А он смеётся в войс чат как еблан

[Аутро]
Ла-ра-на-на-на-на-на-на, ла-ра-ла-ла-ла-ла-ла-ла
Ла-ра-на-на-на-на-на-на, ла-ра-ла-ла-ла-ла-ла-ла
Соляра, ла-ла-ла-ла-ла-ла-ла-ла
Соляра, вау-вау-вау-ва-а-а
Соляра, вау-вау-вау-ва-а-а
Соляра, вау-вау-вау{% endblock %}