{% extends 'base_mus.html' %}

{% block title %}
    <title>СЕРЕГА ПИРАТ (SEREGA PIRAT)</title>
{% endblock %}


{% block name %}«тп на аме»{% endblock %}
{% block image %}
<img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/340x340/https%3A%2F%2Fimages.genius.com%2F43f3de0cbe0e85cca4052abc7ab29790.1000x1000x1.jpg" alt="" width="200" height="200">

{% endblock %}

{% block description %}[Текст песни «тп на аме»]

[Интро]
Моё тп отменено
Игра проёбана давно
И это всё моя вина (Моя вина)
LIVING PUFF on the beat
И если тот день не вернуть
Я всё равно продолжу путь
Просто забудьте навсегда (Навсегда)

[Куплет 1]
Я собираю на АМ'а радик
Для чего ради, но для чего ради?
Мне говорят: «Есть билды *****
Но мне так по кайфу, и я так *****-у

[Предприпев]
Я же не хотел, я же всю игру тащил
Но всего один момент, ну какой же я дебил

[Припев]
Моё тп отменено
Игра ***** давно
И это всё моя вина (Моя вина)
И если тот день не вернуть
Я всё равно продолжу путь
Просто забудьте навсегда (Навсегда)
See upcoming rap shows
Get tickets for your favorite artists
You might also like
фп ам (fp am)
СЕРЕГА ПИРАТ (SEREGA PIRAT)
я не боюсь ошибаться (i’m not afraid to make mistakes)
​mzlff & Серега Пират (Serega Pirat)
Гимн Дахака (Dahak hymn)
СЕРЕГА ПИРАТ (SEREGA PIRAT)
[Куплет 2]
Если бы ты мне сказал
Чем моё тп обернётся вдруг
Я бы ни за что его не отменял
Я ваще в тот день не заходил в игру
Я ненавижу ***** паузы
С ними мне снова приходится думать
Как бы я им ***** всю базу
***** миссклик, ну какой я придурок!

[Предприпев]
Я же не хотел, я же всю игру тащил
Но всего один момент, ну какой же я дебил

[Припев]
Моё тп отменено
Игра ***** давно
И это всё моя вина (Моя вина)
И если тот день не вернуть
Я всё равно продолжу путь
Просто забудьте навсегда (Навсегда)

[Бридж]
(А-а, а-а)
Я отменил тп, я отменил тп
Я отменил тп, я отменил тп
[Аутро]
Я собираю на АМ'а радик
Для чего ради, но для чего ради
Мне говорят: «Есть билды *****
Но мне так по кайфу, и я так *****-у{% endblock %}