{% extends 'base_mus.html' %}

{% block title %}
    <title>СЕРЕГА ПИРАТ (SEREGA PIRAT)</title>
{% endblock %}


{% block name %}
Зомби апокалипсис{% endblock %}
{% block image %}
<img class="mb-2 box_shadow_" src="https://t2.genius.com/unsafe/340x340/https%3A%2F%2Fimages.genius.com%2Fb6e5584c7da45001e556aeb91a272a22.740x742x1.png" alt="" width="200" height="200">

{% endblock %}

{% block description %}
[Текст песни «Зомби апокалипсис»]

[Интро: СЕРЕГА ПИРАТ]
Эта история про то, как я попал в зомби апокалипсис
Выживал среди зомбаков
Выживал среди зомбаков
Выживал среди зомбаков

[Куплет 1: СЕРЕГА ПИРАТ]
Я катаюсь на пикапе (Е, е)
Никого вокруг нет (Нет, нет)
Только парочка взрывчаток (У-у, у)
У меня в багажнике, е, е, е (У)

[Припев: СЕРЕГА ПИРАТ]
И злобных зомби
Кругом безумие
Я будто бы во сне
Мой дом весь в огне
Они чуют запах, идут сюда
Они очень скоро съедят меня

[Постприпев: СЕРЕГА ПИРАТ]
Выживал среди зомбаков
Выживал среди зомбаков
See upcoming rock shows
Get tickets for your favorite artists
You might also like
Не сей любовь (Don’t Plant Love)
DK
​далеко (большой Бушизм) [far]
BUSHIDO ZHO
44
​shadowraze & jzxdx
[Куплет 2: qeqoqeq]
У этой зомбячки отличная попка
Укусит за **** — будет неловко
Зашёл в магазин, взял очочечки Prada
Жизнь удалась — мне больше не надо
Слышу рык с под стола
Подруга, не надо, ты будешь мертва
Достал пистолет, но я не попал
Укусила за ****, и я упал (У)

[Припев: СЕРЕГА ПИРАТ]
И вот я зомби, я полн безумия
Я будто бы во сне, мой дом весь в огне
Я чую твой запах, иду туда
И я очень скоро найду тебя

[Постприпев: СЕРЕГА ПИРАТ]
Выживал среди зомбаков
Выживал среди зомбаков

[Бридж: СЕРЕГА ПИРАТ]
И, и я погиб
И я погиб (Гр-ра, гр-ра, гр-ра, гр-ра)
И я погиб (Дайте мне мозги, гр-ра)
И я погиб (Гр-ра, дай мозги, сука, я хочу поесть)
И я погиб (Гр-ра, гр-ра, гр-ра, дай мозги)
И я погиб
[Куплет 3: СЕРЕГА ПИРАТ]
Разрываю тебя на части
Твоя смерть — это моё счастье (И я погиб)
Я съедаю твоё запястье
Ты же знал, что здесь опасно (И я погиб)

[Аутро: СЕРЕГА ПИРАТ]
Среди зомбаков
(И я погиб)
Среди зомбаков
(И я погиб)
Среди зомбаков
(И я погиб)
Среди зомбаков{% endblock %}